# Лекция 9 - Базы данных

БЗ (Бизнес задача) -> АД (Анализ данных) -> DS (Data Science)

Таблицы (MS Excel) -> БД -> СУБД

## SQL

Диалекты SQL: T-SQL, PL/SQL, PL/pgSQL

* Некоторые команды БД:
    + DDL (структура):
        - CREATE,
        - ALTER,
        - DROP
    + DML (манипуляция):
        - SELECT,
        - INSERT,
        - UPDATE,
        - DELETE
    + DCL (контроль):
        - GRANT,
        - REVOKE

## Структура БД

* Поле (Field) - колонка таблицы
* Запись (Record) - строка таблицы
* Ограничения:
    - NOT NULL,
    - DEFAULT,
    - UNIQUE,
    - PRIMARY KEY,
    - FOREIGN KEY,
    - CHECK,
    - INDEX

## SQLite

Клиет <-> Среда передачи <-> Сервер

* Типы:
    - INTEGER,
    - REAL (float),
    - TEXT,
    - BLOB (бинарный)
* Программы для работы:
    - SQLiteStudio,
    - SQLiteManager

In [ ]:
## Пример работы в Python

import sqlite3 as sq

conn = sq.connect("orders.db")

cur = conn.cursor()

cur.execute("SQL command")

result = cur.fetchone() # cur.fetchmany()

conn.commit()

conn.close()

## Пример команды

INSERT INTO users(userid, fname, lname, city)

VALUES("0001", "Alex", "Dow", "NY")