# Лекция 10 - Базы данных Python

In [ ]:
# Установка соединения

import sqlite3

conn = sqlite3.connect("path/to/db")

In [ ]:
# Классический вариант через курсор

cur = conn.cursor()

cur.execute("SQL command")

dat = cur.fetchone() # fetchmany(), fetchall()

conn.commit()

conn.close()

In [ ]:
# Вариант через with

with conn:
    conn.execute("SQL command")
    data = conn.execute("SQL command")

## ORM

ORM - Object-Relational Mapping, создаёт связь бд и объектов. Реализации:
* Active Record - нарушает SOLID
* Data Mapper - сложнее в использовании

```
ORM                       | БД
——————————————————————————————————— 
Класс модели              | Таблица
Атрибут объекта           | Колонка
Объект (экземпляр модели) | Строка
```

## Библиотеки Python для ORM

* SQLAlchemy (SQLite, MySQL, Postgres, Oracle, MSSQLServer, ...)
* Peewee (SQLite, MySQL, Postgres)
* DjangoORM
* PonyORM
* SQLObject
* TortoiseORM

Ещё есть TinyDB

In [ ]:
# Работа с Peewee в Питоне

from peewee import *

db = SQLiteDataBase("test.db")

class Person(Model):
    name = CharField()
    birthday = DataField()
    is_relative = BooleanField()

class Pet(Model):
    owner = ForeignKeyField(Person.related_name = "pets")
    name = CharField()
    animal_type = CharField()

class Meta:
    Person.create_table()
    Pet.create_table()

bob = Person(name="Bob", birthday="1970-5-20", is_relative=True)
bob.save()

In [ ]:
# Работа с SQLAlchemy

engine = create_engine("sqlite://site.db", echo=True)

Base = declarative_base()

__tabname__ = "users"

id = Column(Integer, primary_key=True)

name = Column(String)

age = Column(Integer)

fuser = User(name="Пётр", age=20)

_.add(fuser)
_.commit()

user=_.query(User).filter_by(name="Иван").filter()

In [ ]:
# Работа с TinyDB

from tinydb import TinyDB, Query

db = TinyDB("db.json")

db.insert({"name": "Пётр", "age": 30})

User = Query()

t_user = db.get(User.name=="Пётр")

print(t_user["age"])